{% extends 'base.html' %}
{% load static %}
{% block title %}
    Noredio | About Us
{% endblock %}

{% block content %}
    <div class="container page-main">
        <img src="{% static 'frontend/images/noredio_about_main.png' %}" style="width:100%">
        <div class="page-main-title">
            <h1>About Us</h1>
        </div>
        <div class="page-main-subtitle">
            <h2>Generate Your Music</h2>
            <h2>Own Your Music</h2>
        </div>
        
    </div>

    <h1>Co-Founders</h1>
    <div class="cofounder-div">
        <div class="row">
            <div class="col-sm-6">
                <img style="max-height: 40vh; border: 3px solid rgb(136, 0, 255)" class="rounded-circle" src="{% static 'frontend/images/boran-pfp.png' %}" alt="pfp">
                <h3 style="margin-top: 3vh;">Boran Ocak</h3>
                <h4>CEO</h4>
            </div>
            <div class="col-sm-6">
                <img style="max-height: 40vh; border: 3px solid rgb(45, 45, 255)" class="rounded-circle" src="{% static 'frontend/images/skye-pfp.png' %}" alt="pfp">
                <h3 style="margin-top: 3vh;">Skye Nam</h3>
                <h4>CTO</h4>
            </div>
        </div>
    </div>
    <div class="hori-line"></div>
    <h1>Our Vision</h1>
    <div class="vision-div">
        <div class="row">
            <div class="col-sm-5">
                <h2><em>Vision Part One</em></h2>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                </p>
            </div>
            <div class="col-sm-7"></div>
        </div>
        <div class="row">
            <div class="col-sm-7"></div>
            <div class="col-sm-5">
                <h2><em>Vision Part Two</em></h2>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                </p>
            </div>
        </div>
    </div>

{% endblock %}