{% extends 'base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <div class="container rounded-5 main-bubble-2">
        <h1>About Us</h1>
        <h2>Generate your music. Own your music.</h2>
    </div>
    <div class="hori-line"></div>
    <h1>Co-Founders</h1>
    <div class="cofounder-div">
        <div class="row">
            <div class="col-sm-6">
                <img style="max-height: 50vh;" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="pfp">
            </div>
            <div class="col-sm-6">
                <img style="max-height: 50vh;" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="pfp">
            </div>
        </div>
    </div>
    <div class="hori-line"></div>
    <h1>Our Vision</h1>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    <div class="hori-line"></div>
    <p>Check out the <a href="/">Home</a> page.</p>
{% endblock %}