{% extends 'base.html' %}

{% block title %}
    Contact
{% endblock %}

{% block content %}
    <div class="container rounded-5 main-bubble-2">
        <h1>Contact Us</h1>
        <h2>Still listening? Get in touch!</h2>
    </div>
    <div class="hori-line"></div>
    <div class="contact-box">
        <a class="contact-box-link" href="https://www.linkedin.com/company/noredio/">
            <img width="100px" src="https://static.vecteezy.com/system/resources/previews/018/930/587/non_2x/linkedin-logo-linkedin-icon-transparent-free-png.png" alt="linkedin">
            <p>linkedin.com/company/noredio/</p>
        </a>
        <a class="contact-box-link" href="https://www.instagram.com/noredio.app/">
            <img width="80px" src="https://png.pngtree.com/png-clipart/20180626/ourmid/pngtree-instagram-icon-instagram-logo-png-image_3584852.png" alt="instagram">
            <p>@noredio.app</p>
        </a>
    </div>
    <div class="hori-line"></div>
{% endblock %}