{% extends 'base.html' %}
{% load static %}
{% block title %}
    Noredio | Contact
{% endblock %}

{% block content %}
    <div class="container page-main">
        <img src="{% static 'frontend/images/noredio_contact_main.png' %}" style="width:100%">
        <div class="page-main-title">
            <h1>Contact Us</h1>
        </div>
        <div class="page-main-subtitle">
            <h2>Still listening?</h2>
            <h2>Get in touch!</h2>
        </div>
        
    </div>

    <div class="contact-box">
        <a class="contact-box-link" href="https://www.linkedin.com/company/noredio/">
            <img width="100px" src="https://static.vecteezy.com/system/resources/previews/018/930/587/non_2x/linkedin-logo-linkedin-icon-transparent-free-png.png" alt="linkedin">
            <p>linkedin.com/company/noredio/</p>
        </a>
        <a class="contact-box-link" href="https://www.instagram.com/noredio.app/">
            <img width="80px" src="https://png.pngtree.com/png-clipart/20180626/ourmid/pngtree-instagram-icon-instagram-logo-png-image_3584852.png" alt="instagram">
            <p>@noredio.app</p>
        </a>
    </div>
    <div class="hori-line"></div>
{% endblock %}