{% extends 'base.html' %}
{% load static %}

{% block title %}
    Noredio
{% endblock %}

{% block content %}
    <div class="container rounded-5 main-bubble-1">
        <div class="row">
            <div class="col-sm-6" style="text-align: end;">
                <img style="height:200px" src="{% static 'frontend/images/noredio_logo_white.png' %}" alt="Noredio">
            </div>
            <div class="col-sm-6">
                <h1 style="text-align: start;">Noredio</h1>
                <h2 style="text-align: start;">Generate your music. Own your music.</h2>
            </div>
        </div>
        <a href="#productVideo" style="min-width: 30vh; justify-self: center;" class="btn btn-light rounded-pill">Learn More</a>
    </div>
    <div id="productVideo" class="hori-line"></div>
    <h1 style="margin-top: 2vh;">Our Product</h1>
    <video class="embed-responsive embed-responsive-16by9" controls controlsList="nodownload">
        <source src="{% static 'frontend/videos/Noredio_Demo.mp4' %}" type="video/mp4">
    </video>
    <div class="hori-line"></div>


{% endblock %}
