{% extends 'base.html' %}

{% block title %}
    Noredio
{% endblock %}

{% block content %}
    <div class="container rounded-5 main-bubble-1">
        <div class="row">
            <div class="col-sm-6" style="text-align: end;">
                <img src="https://media.licdn.com/dms/image/D4E0BAQH6_Teik1yRIw/company-logo_200_200/0/1718570338306/noredio_logo?e=1728518400&v=beta&t=xMC_cI9C_L3b0O_nEZTiDfeXIp-CDqAgarISohRla6g" alt="Noredio">
            </div>
            <div class="col-sm-6">
                <h1 style="text-align: start;">Noredio</h1>
                <h2 style="text-align: start;">Generate your music. Own your music.</h2>
            </div>
        </div>
        <a href="#productVideo" style="min-width: 30vh; justify-self: center;" class="btn btn-light rounded-pill">Learn More</a>
    </div>
    <div id="productVideo" class="hori-line"></div>
    <h1>Our Product</h1>
    <img style="width:500px; justify-self: center; margin:50px" src="https://media.licdn.com/dms/image/D4E0BAQH6_Teik1yRIw/company-logo_200_200/0/1718570338306/noredio_logo?e=1728518400&v=beta&t=xMC_cI9C_L3b0O_nEZTiDfeXIp-CDqAgarISohRla6g" alt="Noredio">
    <div class="hori-line"></div>
    <img src="https://media.licdn.com/dms/image/D4E0BAQH6_Teik1yRIw/company-logo_200_200/0/1718570338306/noredio_logo?e=1728518400&v=beta&t=xMC_cI9C_L3b0O_nEZTiDfeXIp-CDqAgarISohRla6g" alt="Noredio">
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>


{% endblock %}
