{% extends 'base.html' %}
{% load static %}

{% block title %}
    Noredio
{% endblock %}

{% block content %}
    <div class="container home-main">
        <img src="{% static 'frontend/images/noredio_home_main.png' %}" style="width:100%">
        <div class="home-main-title">
            <h1>Noredio</h1>
        </div>
        <div class="home-main-subtitle">
            <h2>Generate your music.</h2>
            <h2>Own your music.</h2>
        </div>
        
    </div>
    
    <div class="hori-line"></div>
    <h1 style="margin-top: 2vh;">Our Product</h1>
    <video class="embed-responsive embed-responsive-16by9" controls controlsList="nodownload">
        <source src="{% static 'frontend/videos/Noredio_Demo.mp4' %}" type="video/mp4">
    </video>
    <div class="hori-line"></div>


{% endblock %}
