* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: black;
    color: whitesmoke;
    font-size: 2rem;
    display: flex;
    flex-flow: column;
}

main {
    flex-grow: 1;
    display: grid;
    
}

h1, p {
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 5rem;
}

h2 {
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    color: #81dbb8;
}

.hori-line {
    border: 1px solid white;
    height: 0;
    width: 30%;
    justify-self: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

nav {
    background-color: black;
    height: 75px;
}


.navbar-collapse {
    justify-content: end;
}

.navbar-text{
    color: white;

} 

.nav-link {
    color: white;
}

.main-bubble-1 {
    background-color: purple;
    min-height: 60vh;
    min-width: 95vw;
    display: grid;
    justify-content: center;
    align-content: space-around;
}
.main-bubble-2 {
    background-color: purple;
    min-height: 60vh;
    min-width: 95vw;
    display: grid;
    justify-content: center;
    align-content: center;
}

a:hover {
    opacity: .85;
}