* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: black;
    color: whitesmoke;
    font-family: 'Poppins';
    font-size: 1.5rem;
    display: flex;
    flex-flow: column;
}

main {
    flex-grow: 1;
    display: grid;
    
}

p {
    text-align: justify;
}

h1, h3, h4{
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 5rem;
}

h2 {
    font-size: 2.5rem;
}

.hori-line {
    border: 2px solid white;
    height: 0;
    width: 30%;
    justify-self: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

nav {
    background-color: black;
    height: 75px;
    
}


.navbar-collapse {
    background-color: black;
    justify-content: end;
}

.navbar-text{
    color: white;

} 

.nav-link {
    color: white;
}

.main-bubble-1 {
    background-image: linear-gradient(to bottom right, rgb(15, 0, 35), rgb(85, 34, 151));
    min-height: 60vh;
    min-width: 95vw;
    display: grid;
    justify-content: center;
    align-content: space-around;
}
.main-bubble-2 {
    background-image: linear-gradient(to bottom right, rgb(15, 0, 35), rgb(85, 34, 151));
    min-height: 60vh;
    min-width: 95vw;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.home-main {
    min-width: 100%;
    position: relative;
    text-align: center;
}

.home-main-title {
    max-height: 10%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
}

.home-main-subtitle {
    max-height: 10%;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%);
}
.home-main-subtitle > h2 {
    font-weight: bold;
}

.cofounder-div {

    margin-top: 2vh;
    min-height: 60vh;
    display: grid;
    place-content: center;
}

.vision-div {
    max-width: 80vw;
    justify-self: center;
}

a {
    text-decoration: none;
    color: white;
}

.contact-box {
    justify-self: center;
}

.contact-box-link {
    display:flex;
    align-items: center;
    font-size: 1.5rem;
}

video {
    justify-self: center;
}

a:hover {
    opacity: .85;
}